D:\Angus\GitHub\DhProductCtrlDemo\DH_Control_Demo\.vs

D:\Angus\GitHub\DhProductCtrlDemo\DH_Control_Demo\bin\Debug

D:\Angus\GitHub\DhProductCtrlDemo\DH_Control_Demo\bin\Debug\net8.0-windows7.0
/DH_Control_Demo/.vs
/DH_Control_Demo/bin/Debug
/DH_Control_Demo/obj/Debug
